
.container {
    padding: 1em 1.5em;
    background: #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 8px #999;
    -webkit-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999;
}

.container p {
    text-indent: 24px;
}

.container h1 {
    text-align: center;
}

.transfer-list {
    margin: 0 auto;
    width: 600px;
}
.transfer-list caption {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 24px;
}
.transfer-list th {
    text-align: right;
}
.transfer-list td {
    text-align: left;
}
.ali-point {
    margin-bottom: 15px;
}
.ali-support {
    display: none;
    margin-top: 50px;
}
.ali-contact {

}
.ali-contact span {
    display: inline-block;
    padding-right: 10px;
    width: 50px;
    text-align: right;
}
.jspattern-list {
    margin-bottom: 10px;
}

.text-center {
    margin-bottom: 25px;
}

.footer {
    height:40px;
    line-height: 40px;
    text-align: center;
    background:#f8f8f8;
    border: 1px solid #e7e7e7;
}
.footer p {
    margin: 0;
}